
/* Refers to the margins of the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* set body background color to white */
body {
    background-color: #d9dcd6;
}
/* Sets the padding, font family and background color to blue for the header and the nav bar. Also makes the navbar text white. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* sets the company logo display to in-line*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets the letters seo in the company logo to a different color */
header h1 .seo {
    color: #7e807d;
}
/* Sets location of the nav bar to the right side of the scree, padding, font family and font size to 20px */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*  sets the marker for the nav bar list */
header nav ul {
    list-style-type: none;
}
/* sets the size of the margine to 25px from left, lists the display as in-line block for the nav bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Sets the anchor text color to white, removes the appearance of decorative lines for the list in the nav bar */
a {
    color: #ffffff;
    text-decoration: none;
}
/* sets all paragraph font size to 16px */
p {
    font-size: 16px;
}

.hero {
    /* sets height of background image */
    height: 810px;
/* Sets the width of the image to 100 */
    width: 100%;
    /* Increases margin from next section */
    margin-bottom: 25px;
    /* Sets the background image */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* sets size of background image */
    background-size: cover;
    /* centers the position of the background image */
    background-position: center;
}
/* images for articles float left */
article img {
    float: left;
    margin-right: 25px;
}
/* images to article floats right */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    /* Limits the width of the article contnent to 75% of the page */
    width: 75%;
    /* allows the width and height of an article to be set */
    display: inline-block;
    /* sets the margin 20px from the eft side of the screen */
    margin-left: 20px;
}

.benefits {
    /* sets the margin 20 px from the right for the aside */
    margin-right: 20px;
    /* adds 20px padding around the aside */
    padding: 20px;

    clear: both;
    /* Aside floats to the right */
    float: right;
    /* width is reserved for 20 percent of the page */
    width: 20%;

    height: 100%;
    /* font family is set to Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-aside {
    margin-bottom: 32px;
    color: #ffffff;
}



.benefit-aside h3 {
    /* margin for the aside is set to 32px */
    margin-bottom: 10px;
    /* text is centered */
    text-align: center;
} 

.benefit-aside img {
    /* displays img n a new line and takes up the width  */
    display: block;
    /* sets images with a margin of 10px and automatically centers */
    margin: 10px auto;
    /* sets width of pictures to be max 150px */
    max-width: 150px;
}



.search-engine {
    /* allows a 20px margin between boxes */
    margin-bottom: 20px;
    /* padding around boxes is set to 50px */
    padding: 50px;
    /* height of box is 300px */
    height: 300px;
    /* font family is set to  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background color is set to blue */
    background-color: #0072bb;
    /* text color is set to white */
    color: #ffffff;
}



.search-engine img {
    /* sets image sized to 200px */
    max-height: 200px;
}

article h2 {
    /* sets margine between title and text 20px */
    margin-bottom: 20px;
    /* sets font size to 36px */
    font-size: 36px;
}


footer {
    /* sets footer padding to 30px */
    padding: 30px;
    clear: both;
    /* sets font-family to 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* centers text */
    text-align: center;
}

footer h2 {
    /* sets footer font-size 20px */
    font-size: 20px;
}

